<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name" style="font-family: 'Permanent Marker', cursive;font-size: 240px"> SMDI </h1>
      <h2 class="project-tagline" style="font-family: 'Permanent Marker', cursive;font-size: 30px"> Nationella nätverket för svenska med didaktisk inriktning.</h2>
        <a href="https://albinmartinsson.github.io/nätverket" class="btn">Nätverket</a>
        <a href="https://albinmartinsson.github.io/forskare" class="btn">Forskare inom nätverket</a>
    </section>

    <section class="main-content">
      {{ content }}


    </section>

  </body>
</html>
