<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <style>

    br {
              display: block; /* makes it have a width */
              content: ""; /* clears default height */
              line-height: 3.5
       }

    span{
      font-family: 'Righteous', cursive;
      font-size: 3vw;
        }

    </style>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name" style="font-family: 'Righteous', cursive;font-size: 20vw;">SMDI<span> <br/> svenska med didaktisk inriktning </span> </h1>
      <!--<h1 class="project-name1" style="font-family: 'Righteous', cursive;font-size: 3vw;  margin-top: -10vh">svenska med didaktisk inriktning</h1>-->
      <!--<h1 class="project-name" style="font-family: 'Permanent Marker', cursive;font-size: 240px">SMDI</h1>-->
    <!--<h1 class="project-name1" style="font-family: 'Permanent Marker', cursive;font-size: 36px;  margin-top: -60px">svenska med didaktisk inriktning</h1>-->
        <a href="https://albinmartinsson.github.io/nätverket" class="btn">Nätverket</a>
        <a href="https://albinmartinsson.github.io/forskare" class="btn">Forskare inom nätverket</a>
        <a href="https://albinmartinsson.github.io/konferenser" class="btn">Konferenser inom SMDI</a>
        <a href="https://albinmartinsson.github.io/historik" class="btn">Historik</a>
        <a href="https://albinmartinsson.github.io/övriganätverk" class="btn">Övriga Nätverk</a>


    </section>

    <section class="main-content">
      {{ content }}


    </section>

  </body>
</html>
