<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script> 
  </head>

  <body>

    <section class="bgHead">
    <!--Loggan (bilden)-->
    </section>



    <section class="page-header">
    <!-- Logga
    <h1 class="project-name" style="font-family: 'Righteous', cursive;font-size: 20vw;">SMDI</h1>
    <h2 class="project-tagline" style="font-family: 'Righteous', cursive;font-size: 3vw;margin-top: -8vw;">svenska med didaktisk inriktning</h2>
    -->
        <a href="https://smdihemsida.github.io/" class="btn">Hem</a>
        <a href="https://smdihemsida.github.io/nätverket" class="btn">Nätverket</a>
        <a href="https://smdihemsida.github.io/forskare" class="btn">Forskare inom nätverket</a>
        <a href="https://smdihemsida.github.io/konferenser" class="btn">Konferenser inom SMDI</a>
        <a href="https://smdihemsida.github.io/historik" class="btn">Historik</a>
        <a href="https://smdihemsida.github.io/övriganätverk" class="btn">Övriga Nätverk</a>
        <a href="https://smdihemsida.github.io/aktuellt" class="btn">Aktuellt</a>
        <a href="https://smdihemsida.github.io/publikationer" class="btn">Publikationer inom SMDI</a>

    </section>

    <section class="main-content">

      {{ content }}


    </section>

  </body>
</html>
